<style>
.well {
    box-shadow: 15px 15px 8px #888888;
}    

</style>

<h1 align="center">All articles</h1>
<div align="center">
    <%= will_paginate %>
</div>

<%= render 'article', obj: @articles %>

<div align="center">
    <%= will_paginate %>
</div>




