<style>
    img {
        width: 44%;
        float:left;
        height: auto;
        margin-left: 50px;
        box-shadow: 10px 10px 5px #888888;


    }
    .im {
        

    }
    
    h1 {
        padding-left:260px;
        display:inline;
    }

</style>

<div>
    <ul>
        <li>hahhsdfsdfs</li>
        <li>hahhsdfsdfs</li>
        <li>hahhsdfsdfs</li>
    </ul>
</div>

<div class="vv">

        <%= link_to image_tag('girl.jpg'), 'https://wormblog.herokuapp.com/articles', :style => "display:inline;" %>
        <%= link_to image_tag('pian.jpg'), 'https://wormblog.herokuapp.com/articles', :class => "im" %>

        
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


