$navbar-default-bg: lightblue;

#logo{
    float: left;
    font-size: 1.8em;
    color:white;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: bold;
    
}

#logo:hover {
    color: orange;
    text-decoration: none;
    
}

.center {
    text-align: center;
    
}

.jumbotron {
    
    background-image: asset-url('bl.jpg');
    background-size:100% 100%;
    overflow: hidden;
    height: 600px;

    
}

.btn{
    text-align:bottom;
}

@import "bootstrap-sprockets";
@import "bootstrap";